{% if site.data.projects %}
<section class="section projects-section">

  <h2 class="section-title"><i class="fa fa-archive"></i>Academic Projects!!</h2>

  {% for intro in site.data.projects %}
  <div class="intro">
      <p>{{ intro.description }}</p>
  </div><!--//intro-->
  {% endfor%}

  {% for project in site.data.projects %}
    <div class="item">

      <h4 class="project-title">{{ project.title }}</h4>

      {% if project.tagline %}
      - <span class="project-tagline">{{ project.tagline }}</span>
      {% endif %}

    </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}
